<section id="controls" class="panel grid-col grid-4">
  <h2 class="hd">Controls</h2>
  <form method="post"
        action="power"
        data-power-state="<%= @player.state.state == :play ? "on" : "off" %>"
        data-faye>
    <button class="btn btn-with-text" type="submit">
      <span class="icon"></span>
      <span data-bind="state"><%= @player.state.state == :play ? "ON" : "OFF" %></span>
    </button>
  </form>
  <form method="post" action="volume" data-faye>
    <p>Volume</p>
    <input type="range" name="volume" value="<%= @player.state.volume %>" min="0" max="100" step="1" />
    <input type="submit" class="btn btn-with-text" value="Change" />
    <span data-bind="volume"></span>
  </form>
</section><!-- #controls .grid-col .panel -->

<section id="stations" class="panel grid-col grid-8">
  <h2 class="hd">Stations</h2>
  <p>
    <form method="post" action="station/previous" data-faye>
      <button class="btn btn-previous" type="submit" title="Previous">&lt;</button>
    </form>
    Current station: <strong data-bind="station-name"><%= @player.state.tracks.first[:Name] %></strong>
    <form method="post" action="station/next" data-faye>
      <button class="btn btn-next" type="submit" title="Next">&gt;</button>
    </form>
  </p>
  <ul class="list">
  <% @stations.each do |station| %>
    <li>
      <form method="post" action="station/<%= station[:name] %>" data-faye>
        <button type="submit" name="station-id"><%= station[:name] %></button>
      </form>
    </li>
  <% end %>
  </ul>
</section><!-- #stations -->
