<div class="panel grid-col grid-4">
  <section id="controls" class="">
    <h2 class="hd">Controls</h2>
    <form method="post"
          action="power"
          data-power-state="<%= @player.state.state == :play ? "on" : "off" %>"
          data-faye>
      <button class="btn btn-with-text" type="submit">
        <span class="icon"></span>
        <span data-bind="state"><%= @player.state.state == :play ? "ON" : "OFF" %></span>
      </button>
    </form>
    <form method="post" action="volume" data-faye>
      <p>Volume</p>
      <input type="range" name="volume" value="<%= @player.state.volume %>" min="0" max="100" step="1" />
      <input type="submit" class="btn btn-with-text" value="Change" />
      <span data-bind="volume"></span>
    </form>
  </section><!-- #controls-->
  <section id="now-playing" class=""></section>
  <section id="avoider" class="">
    <form method="post" action="avoid/track" data-faye>
      <input type="submit" class="btn btn-with-text" value="Avoid track" />
    </form>
  </section>
</div><!-- .grid-col .panel -->

<section id="stations" class="panel grid-col grid-8">
  <h2 class="hd">Stations</h2>
  <p>
    <form method="post" action="station/previous" data-faye>
      <button class="btn btn-previous" type="submit" title="Previous">&lt;</button>
    </form>
    Current station: <strong data-bind="station-name" data-current-station-id="<%= @player.state.tracks.first[:id] %>"><%= @player.state.tracks.first[:Name] %></strong>
    <form method="post" action="station/next" data-faye>
      <button class="btn btn-next" type="submit" title="Next">&gt;</button>
    </form>
  </p>
  <ul class="list">
  <% @stations.each do |station| %>
    <li data-station-id="<%= station.bbc_id %>">
      <form method="post" action="station/<%= station.bbc_id %>" data-faye>
        <button type="submit" name="station-id"><%= station.title %></button>
      </form>
    </li>
  <% end %>
  </ul>
</section><!-- #stations -->

<script type="text/template" id="now-playing-placeholder-template">
  <h2 class="hd">Now Playing</h2>
  <div>
    <p>Now playing information for your station will appear here, if available.</p>
    <p>There may be a short delay for the information to appear.</p>
  </div>
</script>

<script type="text/template" id="now-playing-template">
  <h2 class="hd">
    {{#expired}}Just Played{{/expired}}
    {{^expired}}Now Playing{{/expired}}
  </h2>
  <div>
    <img src="http://ichef.bbci.co.uk/images/ic/112x63/{{ image }}" />
    <div class="meta">
      <p class="title">{{ title }}</p>
      <p class="artist">{{ artist }}</p>
    </div>
  </div>
</script>
