<section id="controls">
  <form method="post" action="power" data-faye>
    <span data-bind="state"><%= @player.state.state == :play ? "ON" : "OFF" %></span>
    <input type="submit" value="Power" />
  </form>
  <form method="post" action="volume" data-faye>
    <span data-bind="volume"></span>
    <input type="range" name="volume" value="<%= @player.state.volume %>" min="0" max="100" step="1" />
    <input type="submit" value="Change" />
  </form>
</section><!-- #controls -->
<section id="stations">
  <p>Current station: <strong data-bind="station-name"><%= @player.state.tracks.first[:Name] %></strong></p>
  <ul>
    <li>
      <form method="post" action="station/previous" data-faye>
        <input type="submit" value="previous" />
      </form>
    </li>
  <% @stations.each do |station| %>
    <li>
      <form method="post" action="station/<%= station[:name] %>" data-faye>
        <input type="submit" name="station-id" value="<%= station[:name] %>" />
      </form>
    </li>
  <% end %>
    <li>
      <form method="post" action="station/next" data-faye>
        <input type="submit" value="next" />
      </form>
    </li>
  </ul>
</section><!-- #stations -->
